// Body elements
body {
   font-family: "Noto Sans", sans-serif;
   height: 1280px;
}

h1 {
   color: $white;
   font-family: "Fira Sans", sans-serif;
}

p {
   font-size: 1rem;
   color: $gray-800;
}

// BUTTONS

.btn {
   font-family: "Noto Sans", sans-serif;
}

.btn-link {
   padding-left: 0;
   padding-right: 0;
   font-weight: bold;
}

// CARDS
.card-text {
   font-family: "Noto Serif", serif;
}

.sign-up-text {
   color: $success;
}

.input-outline {
   border: 2px solid $gray;
}

// BACKGROUND IMAGE
.background-image {
   background-image: url(../images/background-landing.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#login-button {
   float: right;
   background-color: $blue-600;
}
