// COLOR

$white: #fff;
$black: #000;

$gray-050: #e5e6e8;
$gray-100: #cccdd2;
$gray-200: #b4b4bb;
$gray-300: #999aa4;
$gray-400: #80818d;
$gray-500: #666877;
$gray-600: #52535f;
$gray-700: #3d3e47;
$gray-800: #292a30;
$gray-900: #141518;

$blue-050: #dae8f4;
$blue-100: #bfccf5;
$blue-200: #97adf1;
$blue-300: #7693ec;
$blue-400: #587be7;
$blue-500: #4366d3;
$blue-600: #2f52b9;
$blue-700: #1c3688;
$blue-800: #0c205a;
$blue-900: #010b2d;

$red-050: #f6dce2;
$red-100: #ecb8c5;
$red-200: #e38ea3;
$red-300: #da6a84;
$red-400: #cb4666;
$red-500: #c13958;
$red-600: #a42443;
$red-700: #770d26;
$red-800: #500416;
$red-900: #290505;

$grays: ();

$grays: map-merge(
   (
      "100": $gray-100,
      "200": $gray-200,
      "300": $gray-300,
      "400": $gray-400,
      "500": $gray-500,
      "600": $gray-600,
      "700": $gray-700,
      "800": $gray-800,
      "900": $gray-900,
   ),
   $grays
);

$blue: $blue-600;
$red: $red-600;
$gray: $gray-600;

$colors: ();
$colors: map-merge(
   (
      "blue": $blue,
      "red": $red,
      "white": $white,
      "gray": $gray,
      "gray-dark": $gray-800,
   ),
   $colors
);

$primary: $gray;
$secondary: $gray-700;
$success: $blue;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
   (
      "primary": $gray,
      "secondary": $secondary,
      "success": $success,
      "info": $info,
      "warning": $warning,
      "danger": $danger,
      "light": $light,
      "dark": $dark,
   ),
   $theme-colors
);

// LINKS

$link-color: theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// SPACERS

$spacer: 1rem; // 16px in most browsers
$spacers: ();
$spacers: map-merge(
   (
      0: 0,
      // 0px
         1:
         (
            $spacer * 0.25,
         ),
      // 4px
         2:
         (
            $spacer * 0.5,
         ),
      // 8px
         3:
         (
            $spacer * 0.75,
         ),
      // 12px
         4: $spacer,
      // 16px
         5:
         (
            $spacer * 1.5,
         ),
      // 24px
         6:
         (
            $spacer * 2,
         ),
      // 32px
         7:
         (
            $spacer * 3,
         ),
      // 48px
         8:
         (
            $spacer * 4,
         ),
      // 64px
         9:
         (
            $spacer * 8,
         )
         // 128px,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
   ),
   $spacers
);

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap");

// HEADING TAGS
$h1-font-size: 60px;
$h2-font-size: 27px;
$h3-font-size: 20px;

// BORDERS
// .btn-outline {
//    border-radius: 2px solid;
//    border-width: 4px;
// }

// BUTTONS

// // large
// $input-btn-padding-y-lg: 0.5rem;
// $input-btn-padding-x-lg: 2rem;
// $btn-padding-y-lg: $input-btn-padding-y-lg;
// $btn-padding-x-lg: $input-btn-padding-x-lg;

// // normal
// $input-btn-padding-y: 0.5rem;
// $input-btn-padding-x: 1rem;
// $btn-padding-y: $input-btn-padding-y;
// $btn-padding-x: $input-btn-padding-x;

// // small
// $input-btn-padding-y-sm: 0.25rem;
// $input-btn-padding-x-sm: 1rem;
// $btn-padding-y-sm: $input-btn-padding-y-sm;
// $btn-padding-x-sm: $input-btn-padding-x-sm;
